In [1]:
import pymysql
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

C:\Users\Aida\AppData\Local\Temp\ipykernel_13676\3379511413.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("healthcare_dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10000 non-null  object
 1   Age                 10000 non-null  int64
 2   Gender              10000 non-null  object
 3   Blood Type          10000 non-null  object
 4   Medical Condition   10000 non-null  object
 5   Date of Admission   10000 non-null  object
 6   Doctor              10000 non-null  object
 7   Hospital            10000 non-null  object
 8   Insurance Provider  10000 non-null  object
 9   Billing Amount      10000 non-null  float64
 10  Room Number         10000 non-null  int64
 11  Admission Type      10000 non-null  object
 12  Discharge Date      10000 non-null  object
 13  Medication          10000 non-null  object
 14  Test Results        10000 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 1.1+ MB

In [4]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal

In [5]:
df.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [6]:
df['Medical Condition'].unique()

array(['Diabetes', 'Asthma', 'Obesity', 'Arthritis', 'Hypertension',
       'Cancer'], dtype=object)

In [3]:
df.rename(columns={"Blood Type": "blood_type"}, inplace=True)
df.rename(columns={"Medical Condition": "medical_cond"}, inplace=True)
df.rename(columns={"Hospital": "hospital"}, inplace=True)
df.rename(columns={"Doctor": "doctor"}, inplace=True)
df.rename(columns={"Medication": "medication"}, inplace=True)
df.rename(columns={"Test Results": "test_result"}, inplace=True)
df.rename(columns={"Admission Type": "admission_type"}, inplace=True)
df.rename(columns={"Billing Amount": "billing_amount"}, inplace=True)
df.rename(columns={"Date of Admission": "adm_date"}, inplace=True)
df.rename(columns={"Discharge Date": "disc_date"}, inplace=True)
df.rename(columns={"Room Number": "room_number"}, inplace=True)
df.rename(columns={"Name": "name"}, inplace=True)
df.rename(columns={"Age": "age"}, inplace=True)
df.rename(columns={"Gender": "gender"}, inplace=True)
df.rename(columns={"Insurance Provider": "insurance_prov"}, inplace=True)

In [8]:
df.head()

,name,age,gender,blood_type,medical_cond,adm_date,doctor,hospital,insurance_prov,billing_amount,room_number,admission_type,disc_date,medication,test_result
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal

#LET'S GET STARTED!

In [4]:
password= getpass("Por favor, introduce tu contraseña:") #ojo!!! nunca poner password tras crear esto porque se verá la contraseña!!!

In [5]:
dbName="healthcare"

In [6]:
# Connect to MySQL
conn = pymysql.connect(
    host='localhost',
    user='root',
    password=password,
    database='bank'
)

In [7]:
# Create a cursor object
cursor = conn.cursor()
# Create database
cursor.execute("CREATE DATABASE IF NOT EXISTS healthcare")
# Select the database
cursor.execute("USE healthcare")

0

In [8]:
create_patient_table = """
CREATE TABLE IF NOT EXISTS patient (
    pat_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    gender VARCHAR(50),
    blood_id INT,
    medcond_id INT ,
    FOREIGN KEY (blood_id) REFERENCES patient(pat_id),
    FOREIGN KEY (medcond_id) REFERENCES patient(pat_id)
    )
"""

In [20]:
create_patient_table = """
CREATE TABLE IF NOT EXISTS patient (
    pat_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    gender VARCHAR(50),
    blood_type VARCHAR(50),
    medical_cond VARCHAR(50)
    )
"""

In [14]:
create_bloodtype_table = """
CREATE TABLE IF NOT EXISTS bloodtype (
    blood_id INT AUTO_INCREMENT PRIMARY KEY,
    blood_type VARCHAR(50) UNIQUE
    )
"""

In [15]:
create_medicalcond_table = """
CREATE TABLE IF NOT EXISTS medicalcond (
    medcond_id INT AUTO_INCREMENT PRIMARY KEY,
    medical_cond VARCHAR(50) UNIQUE
    )
"""

In [16]:
create_hospital_table = """
CREATE TABLE IF NOT EXISTS hospital (
    hospital_id INT AUTO_INCREMENT PRIMARY KEY,
    hospital VARCHAR(50),
    location VARCHAR(50)
    )
"""

In [17]:
create_doctor_table = """
CREATE TABLE IF NOT EXISTS doctor (
    doctor_id INT AUTO_INCREMENT PRIMARY KEY,
    doctor VARCHAR(50)
    )
"""

In [18]:
create_medication_table = """
CREATE TABLE IF NOT EXISTS medication (
    meds_id INT AUTO_INCREMENT PRIMARY KEY,
    medication VARCHAR(50) UNIQUE
    )
"""

In [19]:
create_testresults_table = """
CREATE TABLE IF NOT EXISTS test_results (
    testres_id INT AUTO_INCREMENT PRIMARY KEY,
    test_result VARCHAR(50) UNIQUE
    )
"""

In [20]:
create_admissiontype_table = """
CREATE TABLE IF NOT EXISTS admission_type (
    admtype_id INT AUTO_INCREMENT PRIMARY KEY,
    admission_type VARCHAR(50) 
    )
"""

In [21]:
create_admission_table = """
CREATE TABLE IF NOT EXISTS admission (
    adm_id INT AUTO_INCREMENT PRIMARY KEY,
    adm_date DATE,
    disc_date DATE,
    room_number INT,
    billing_amount FLOAT,
    doctor_id INT,
    hospital_id INT,
    admtype_id INT,
    pat_id INT,
    meds_id INT,
    testres_id INT,
    insprov_id INT,
    FOREIGN KEY (doctor_id) REFERENCES admission(adm_id),
    FOREIGN KEY (hospital_id) REFERENCES admission(adm_id),
    FOREIGN KEY (admtype_id) REFERENCES admission(adm_id),
    FOREIGN KEY (pat_id) REFERENCES admission(adm_id),
    FOREIGN KEY (meds_id) REFERENCES admission(adm_id),
    FOREIGN KEY (testres_id) REFERENCES admission(adm_id),
    FOREIGN KEY (insprov_id) REFERENCES admission(adm_id)
    )
"""

In [49]:
create_admission_table = """
CREATE TABLE IF NOT EXISTS admission (
    adm_id INT AUTO_INCREMENT PRIMARY KEY,
    adm_date DATE,
    disc_date DATE,
    doctor VARCHAR(50),
    hospital VARCHAR(50),
    admission_type VARCHAR(50),
    name VARCHAR(50),
    medication VARCHAR(50),
    test_result VARCHAR(50),
    insurance_prov VARCHAR(50),
    room_number INT,
    billing_amount FLOAT    
    )
"""

In [22]:
create_insurance_provider_table = """
CREATE TABLE IF NOT EXISTS insurance_prov (
    insprov_id INT AUTO_INCREMENT PRIMARY KEY,
    insurance_prov VARCHAR(50)
    )
"""

In [42]:
# Execute table creation queries
cursor.execute(create_patient_table)

0

In [24]:
cursor.execute(create_bloodtype_table)

0

In [25]:
cursor.execute(create_medicalcond_table)

0

In [26]:
cursor.execute(create_hospital_table)

0

In [27]:
cursor.execute(create_doctor_table)

0

In [28]:
cursor.execute(create_medication_table)

0

In [29]:
cursor.execute(create_testresults_table)

0

In [30]:
cursor.execute(create_admissiontype_table)

0

In [50]:
cursor.execute(create_admission_table)

0

In [32]:
cursor.execute(create_insurance_provider_table)

0

#start populating!

In [33]:
df.sample()

,name,age,gender,blood_type,medical_cond,adm_date,doctor,hospital,insurance_prov,billing_amount,room_number,admission_type,disc_date,medication,test_result
6349,Jose Lewis,53,Female,AB-,Obesity,2019-10-07,Chad Calderon,Jones LLC,Medicare,11491.295783,296,Elective,2019-10-10,Penicillin,Normal

In [34]:
bloodtype_data1=df.blood_type.unique()
bloodtype_data1

array(['O-', 'O+', 'B-', 'AB+', 'A+', 'AB-', 'A-', 'B+'], dtype=object)

In [35]:
bloodtype_df = pd.DataFrame(bloodtype_data1)
bloodtype_df.rename(columns={0: "blood_type"}, inplace=True)
bloodtype_df

  blood_type
0         O-
1         O+
2         B-
3        AB+
4         A+
5        AB-
6         A-
7         B+

In [15]:
connectionData=f"mysql+pymysql://root:{password}@localhost/healthcare"
engine = alch.create_engine(connectionData)

In [37]:
# Insert data into database
bloodtype_df.to_sql(name='bloodtype', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'O-' for key 'bloodtype.blood_type'")
[SQL: INSERT INTO bloodtype (blood_type) VALUES (%(blood_type)s)]
[parameters: [{'blood_type': 'O-'}, {'blood_type': 'O+'}, {'blood_type': 'B-'}, {'blood_type': 'AB+'}, {'blood_type': 'A+'}, {'blood_type': 'AB-'}, {'blood_type': 'A-'}, {'blood_type': 'B+'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [38]:
medical_cond_uniq=df.medical_cond.unique()
medical_cond_uniq

array(['Diabetes', 'Asthma', 'Obesity', 'Arthritis', 'Hypertension',
       'Cancer'], dtype=object)

In [39]:
medical_cond_uniq_df = pd.DataFrame(medical_cond_uniq)
medical_cond_uniq_df.columns=['medical_cond']
medical_cond_uniq_df

   medical_cond
0      Diabetes
1        Asthma
2       Obesity
3     Arthritis
4  Hypertension
5        Cancer

In [40]:
medical_cond_uniq_df.to_sql(name='medicalcond', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Diabetes' for key 'medicalcond.medical_cond'")
[SQL: INSERT INTO medicalcond (medical_cond) VALUES (%(medical_cond)s)]
[parameters: [{'medical_cond': 'Diabetes'}, {'medical_cond': 'Asthma'}, {'medical_cond': 'Obesity'}, {'medical_cond': 'Arthritis'}, {'medical_cond': 'Hypertension'}, {'medical_cond': 'Cancer'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [41]:
hospital_uniq=df.hospital.unique()
hospital_uniq

array(['Wallace-Hamilton', 'Burke, Griffin and Cooper', 'Walton LLC', ...,
       'Nash-Krueger', 'Wilson-Lyons', 'Torres, Young and Stewart'],
      dtype=object)

In [42]:
hospital_df = pd.DataFrame(hospital_uniq)
hospital_df.columns=['hospital']
hospital_df

                       hospital
0              Wallace-Hamilton
1     Burke, Griffin and Cooper
2                    Walton LLC
3                    Garcia Ltd
4       Jones, Brown and Murray
...                         ...
8634                  Moran Ltd
8635   Wood, Martin and Simmons
8636               Nash-Krueger
8637               Wilson-Lyons
8638  Torres, Young and Stewart

[8639 rows x 1 columns]

In [43]:
hospital_df.to_sql(name='hospital', con=engine, if_exists='append', index=False)

8639

In [44]:
medication_uniq=df.medication.unique()
medication_uniq

array(['Aspirin', 'Lipitor', 'Penicillin', 'Paracetamol', 'Ibuprofen'],
      dtype=object)

In [45]:
medication_df = pd.DataFrame(medication_uniq)
medication_df.columns=['medication']
medication_df
medication_df.to_sql(name='medication', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Aspirin' for key 'medication.medication'")
[SQL: INSERT INTO medication (medication) VALUES (%(medication)s)]
[parameters: [{'medication': 'Aspirin'}, {'medication': 'Lipitor'}, {'medication': 'Penicillin'}, {'medication': 'Paracetamol'}, {'medication': 'Ibuprofen'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [46]:
admission_type_uniq=df.admission_type.unique()
admission_type_uniq

array(['Elective', 'Emergency', 'Urgent'], dtype=object)

In [47]:
adm_type_uniq_df = pd.DataFrame(admission_type_uniq)
adm_type_uniq_df.columns=['admission_type']
adm_type_uniq_df
adm_type_uniq_df.to_sql(name='admission_type', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Elective' for key 'admission_type.admission_type'")
[SQL: INSERT INTO admission_type (admission_type) VALUES (%(admission_type)s)]
[parameters: [{'admission_type': 'Elective'}, {'admission_type': 'Emergency'}, {'admission_type': 'Urgent'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [48]:
test_result_uniq=df.test_result.unique()
test_result_uniq

array(['Inconclusive', 'Normal', 'Abnormal'], dtype=object)

In [49]:
testresult_df = pd.DataFrame(test_result_uniq)
testresult_df.columns=['test_result']
testresult_df
testresult_df.to_sql(name='test_results', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Inconclusive' for key 'test_results.test_result'")
[SQL: INSERT INTO test_results (test_result) VALUES (%(test_result)s)]
[parameters: [{'test_result': 'Inconclusive'}, {'test_result': 'Normal'}, {'test_result': 'Abnormal'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [50]:
df.sample()

,name,age,gender,blood_type,medical_cond,adm_date,doctor,hospital,insurance_prov,billing_amount,room_number,admission_type,disc_date,medication,test_result
207,Angela Beard,37,Male,AB+,Cancer,2021-03-28,Colleen Velazquez,Tanner-Stanton,Medicare,25146.966653,148,Emergency,2021-04-04,Lipitor,Normal

In [22]:
patient_data = df[['name','age','gender', 'blood_type', 'medical_cond']]
patient_data

                      name  age  gender blood_type medical_cond
0          Tiffany Ramirez   81  Female         O-     Diabetes
1              Ruben Burns   35    Male         O+       Asthma
2                Chad Byrd   61    Male         B-      Obesity
3        Antonio Frederick   49    Male         B-       Asthma
4      Mrs. Brandy Flowers   51    Male         O-    Arthritis
...                    ...  ...     ...        ...          ...
9995            James Hood   83    Male         A+      Obesity
9996       Stephanie Evans   47  Female        AB+    Arthritis
9997  Christopher Martinez   54    Male         B-    Arthritis
9998           Amanda Duke   84    Male         A+    Arthritis
9999             Eric King   20    Male         B-    Arthritis

[10000 rows x 5 columns]

In [52]:
doctor_data = df[['doctor']]
doctor_data

                 doctor
0        Patrick Parker
1         Diane Jackson
2            Paul Baker
3        Brian Chandler
4        Dustin Griffin
...                 ...
9995       Samuel Moody
9996  Christopher Yates
9997   Robert Nicholson
9998        Jamie Lewis
9999        Tasha Avila

[10000 rows x 1 columns]

In [51]:
admission_data = df[['adm_date','disc_date', 'room_number','billing_amount', 'doctor', 'hospital', 'admission_type', 'name', 'medication', 'test_result', 'insurance_prov']]
admission_data

,adm_date,disc_date,room_number,billing_amount,doctor,hospital,admission_type,name,medication,test_result,insurance_prov
0,2022-11-17,2022-12-01,146,37490.983364,Patrick Parker,Wallace-Hamilton,Elective,Tiffany Ramirez,Aspirin,Inconclusive,Medicare
1,2023-06-01,2023-06-15,404,47304.064845,Diane Jackson,"Burke, Griffin and Cooper",Emergency,Ruben Burns,Lipitor,Normal,UnitedHealthcare
2,2019-01-09,2019-02-08,292,36874.896997,Paul Baker,Walton LLC,Emergency,Chad Byrd,Lipitor,Normal,Medicare
3,2020-05-02,2020-05-03,480,23303.322092,Brian Chandler,Garcia Ltd,Urgent,Antonio Frederick,Penicillin,Abnormal,Medicare
4,2021-07-09,2021-08-02,477,18086.344184,Dustin Griffin,"Jones, Brown and Murray",Urgent,Mrs. Brandy Flowers,Paracetamol,Normal,UnitedHealthcare
...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-07-29,2022-08-02,110,39606.840083,Samuel Moody,"Wood, Martin and Simmons",Elective,James Hood,Ibuprofen,Abnormal,UnitedHealthcare
9996,2022-01-06,2022-01-29,244,5995.717488,Christopher Yates,Nash-Krueger,Emergency,Stephanie Evans,Ibuprofen,Normal,Blue Cross
9997,2022-07-01,2022-07-15,312,49559.202905,Robert Nicholson,Larson and Sons,Elective,Christopher Martinez,Ibuprofen,Normal,Blue Cross
9998,2020-02-06,2020-02-26,420,25236.344761,Jamie Lewis,Wilson-Lyons,Urgent,Amanda Duke,Penicillin,Normal,UnitedHealthcare
9999,2023-03-22,2023-04-15,290,37223.965865,Tasha Avila,"Torres, Young and Stewart",Emergency,Eric King,Penicillin,Abnormal,Aetna

In [54]:
insur_provider_data = df[['insurance_prov']]
insur_provider_data

        insurance_prov
0             Medicare
1     UnitedHealthcare
2             Medicare
3             Medicare
4     UnitedHealthcare
...                ...
9995  UnitedHealthcare
9996        Blue Cross
9997        Blue Cross
9998  UnitedHealthcare
9999             Aetna

[10000 rows x 1 columns]

In [55]:
# Convert data to pandas DataFrame
patient_df = pd.DataFrame(patient_data)
doctor_df = pd.DataFrame(doctor_data)
admission_df = pd.DataFrame(admission_data)
insurance_provider_df = pd.DataFrame(insur_provider_data)

In [23]:
patient_df = pd.DataFrame(patient_data)
patient_df.to_sql(name='patient', con=engine, if_exists='append', index=False)

10000

In [57]:
doctor_df = pd.DataFrame(doctor_data)
doctor_df.to_sql(name='doctor', con=engine, if_exists='append', index=False)

10000

In [52]:
admission_df = pd.DataFrame(admission_data)

In [53]:
admission_df.to_sql(name='admission', con=engine, if_exists='append', index=False)

10000

In [59]:
insurance_provider_df = pd.DataFrame(insur_provider_data)
insurance_provider_df.to_sql(name='insurance_prov', con=engine, if_exists='append', index=False)

10000